/* Reset básico para remover estilos por defecto */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #f0f0f0;
}

.content-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background-image {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* z-index: -1; Coloca la imagen detrás del formulario */
}

.login-container {
    position: relative;
    z-index: 1; /* Asegura que el formulario esté encima de la imagen */
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input[type="text"],
input[type="password"] {
    padding: 15px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    background: #eee;
}

input[type="submit"] {
    padding: 15px;
    border: none;
    border-radius: 5px;
    color: white;
    background: #69a2b0; /* Color azul para el botón de inicio de sesión del administrador */
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
}

input[type="submit"]:hover {
    background: #69a2b0; /* Un tono de azul más oscuro para el hover */
}

.toggle-button {
    background: none;
    color: #69a2b0; /* Color azul para el texto del botón de cambio */
    padding: 10px;
    border: 2px solid #69a2b0; /* Borde azul para el botón de cambio */
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.toggle-button:hover {
    background: #69a2b0; /* Fondo azul para el hover */
    color: white;
}

/* Agregar media queries para responsividad */
@media (max-width: 600px) {
    .login-container {
        width: 90%;
        padding: 20px;
    }

    input[type="text"],
    input[type="password"],
    input[type="submit"],
    .toggle-button {
        padding: 10px;
    }
}
