* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #d9e5d4;
    padding-top: 60px; /* Espacio para la barra de navegación */
}

nav {
    background: #7ac253;
    color: white;
    position: fixed; /* Fijar la barra de navegación en la parte superior */
    top: 0;
    width: 100%;
    z-index: 1000; /* Asegurar que la barra de navegación esté sobre otros elementos */
    padding: 10px 20px;
}

.nav-container {
    display: flex;
    justify-content: flex-end;
}
.data-box img {
    max-width: 80%; /* Establece el ancho máximo al 100% del contenedor */
    height: auto; /* Mantiene la proporción original de la imagen */
    display: block; /* Elimina el espacio adicional que algunos navegadores agregan a las imágenes */
    margin: 0 auto; /* Centra la imagen horizontalmente */
    max-height: 100px; /* Establece la altura máxima deseada (ajusta según tu preferencia) */
}

.signout-button {
    color: #eaf4f4;
    text-decoration: none;
    padding: 5px 10px;
    background: #a9cfd1;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.signout-button:hover {
    background-color: #c03a2bb5;
}

header {
    text-align: center;
    margin-bottom: 30px; /* Ajustar según sea necesario */
}

header h1 {
    color: black;
    font-size: 2rem;
    margin-bottom: 20px;
}

main.dashboard-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.data-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.data-box {
    background: #7ac253;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 250px; /* Ajustar el ancho de los contenedores */
    height: 150px; /* Ajustar la altura de los contenedores */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.data-box img {
    max-width: 80px; /* Ajustar el tamaño máximo de la imagen */
    margin-bottom: 10px;
}

.alerts-container {
    background: #c03a2bb5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    width: 250px; /* Ajustar el ancho del contenedor de alertas */
    height: 150px; /* Ajustar la altura del contenedor de alertas */
    margin-left: 20px; /* Espacio entre los contenedores de datos y alertas */
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    padding: 0 10px;
}

.nav-links a {
    text-decoration: none;
    color: black; /* O el color que prefieras para los enlaces */
}

.nav-links a.active {
    color: white; /* Color para resaltar la página actual */
}

/* Resto del código CSS */
.table-container .table {
    background-color: white;
    border-collapse: collapse; /* Opcional: para asegurar que las celdas estén juntas */
    overflow-y: scroll; /* Proporciona un desplazamiento vertical dentro del contenedor */
    display: block; /* Permite el desplazamiento si la tabla es más ancha que el contenedor */
    height: 200px; /* Altura fija para el desplazamiento vertical */
}

/* Estilos generales para el contenedor de la fila y las tablas */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px; /* Añade espacio entre las tablas */
    margin-bottom: 20px; /* Espacio debajo de la fila de tablas */
}

.table-container1,
.table-container2,
.table-container3,
.table-container4 {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow-x: auto; /* Permite el desplazamiento horizontal si la tabla se desborda */
    margin-bottom: 20px; /* Espacio debajo de cada contenedor de tabla */
    max-height: 500px; /* Ajusta esto según la altura de 10 filas de tu tabla */
    overflow-y: scroll;
}

.table {
    width: 100%; /* Asegura que la tabla ocupe todo el ancho del contenedor */
    margin-bottom: 0; /* Remueve el margen por defecto de las tablas */
    border-collapse: collapse; /* Para que no haya espacios entre las celdas */
}

.table th,
.table td {
    text-align: left;
    padding: 15px;
}

.table thead {
    background-color: #f7f7f7; /* Color de fondo para los encabezados de la tabla */
}

.table thead th {
    position: sticky;
    top: 0; /* Asegura que el encabezado se mantenga visible al desplazar */
    z-index: 10;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2; /* Color de fondo para las filas impares */
}

th {
    background: #fff; /* O el color de fondo de tu elección */
    position: sticky;
    top: 0; /* Esto es necesario para que 'sticky' funcione */
    z-index: 100; /* Asegúrate de que los encabezados se queden por encima del contenido al desplazarse */
}

.grafica-container canvas {
    width: 600px; /* Ancho deseado */
    height: 400px; /* Alto deseado */
}

/* Media queries para responsividad */
@media (max-width: 800px) {
    .row {
        flex-direction: column;
        align-items: center;
    }

    .table-container1,
    .table-container2,
    .table-container3,
    .table-container4 {
        width: 90%; /* Ancho ajustado para pantallas pequeñas */
        overflow-x: auto;
        overflow-y: auto;
    }
}

.nombre-datos {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 10px;
}

@media (max-width: 800px) {
    .dashboard-container {
        flex-direction: column;
        align-items: center;
    }

    .data-container,
    .alerts-container {
        width: 100%;
        max-width: 350px; /* Ajustar para una mejor visualización en móviles */
    }

    .alerts-container {
        margin-left: 0; /* Quitar el espacio extra en vista móvil */
        margin-top: 20px; /* Espacio entre los contenedores en vista móvil */
    }
}

.grafica-container canvas {
    width: 600px; /* Ancho deseado */
    height: 400px; /* Alto deseado */
}

.fire-info {
    background: #e74c3c;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.fire-info-container {
    max-width: 800px;
    margin: 0 auto;
}
.image {
    max-width: 52%; /* Ajusta el ancho según tus necesidades */
    height: auto; /* Para mantener la proporción original de la imagen */
    display: block; /* Elimina el espacio adicional que algunos navegadores agregan a las imágenes */
    margin: 0 auto; 
    
}
